{% extends 'base.html' %}{% load static i18n %}

{% block javascript %}
	
	<script src='{% static "js/jquery.appear.js" %}'></script>

	<script>
		$(document).ready(function() {
			$('iframe').waypoint(function(direction) {
				var data_src = $(this).attr('data-src');
				var src = $(this).attr('data-src');
				if (src != 'about:blank')
					$(this).attr('src', data_src);
				
			}, { offset: '50%' });
		});
	
	</script>
	
{% endblock %}

{% block content %}

	<!-- Intro Header -->
    <header class="intro" style='padding-top: 100px;'>
        <div class="intro-body">
            <div class="container" style=''>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    	
                    	<a style='margin-bottom: 20px;' href="#" onclick='history.back();return false;' class="btn btn-circle page-scroll">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                    	
                    	<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">{{sefer.title|safe}}</h3>
							</div>
							<div class="panel-body">
								
								<div class="list-group">
								
									{% for shiur in shiurs %}
										<div class="list-group-item" style='background-color: transparent;'>
											<div class="well well-sm" style='color: #666; text-align: left;'>
												<span style='float:right;' class="badge">{% if shiur.user.first_name %}{{shiur.user.first_name}} {{shiur.user.last_name}}{% else %}{{shiur.user}}{% endif %}</span>
												{% if shiur.wp_url %}
													<a href='{{shiur.wp_url}}' target='_blank'>{{shiur.title|safe}}</a>
												{% else %}
													{{shiur.title|safe}}
												{% endif %}
											</div>
											
											{% if shiur.mp3_url %}
									  		<audio style='width: 100%;' controls preload="none">
												<source src="{{shiur.mp3_url}}" type="audio/mpeg" />
												<a href="{{shiur.mp3_url}}">{{shiur.title|safe}}</a>
											</audio>
											{% endif %}
											
											{% if shiur.video_url %}
									  			<iframe data-src='{{shiur.video_url}}' src='{% if forloop.first %}{{shiur.video_url}}{% else %}about:blank{% endif %}' style='width:100%; height: 400px;'></iframe>
											{% endif %}
									  		
									  	</div>
									{% endfor %}
									
								</div>
								
							</div>
					    </div>
                    	
                        <a href="#" onclick='history.back();return false;' class="btn btn-circle page-scroll">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}