{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The teaching of Rebbe Nachman of Breslov on the web, Android, iOS and Windows Phone.">
    <meta name="author" content="The Breslov Technology Group (a non-profit)">

    <title>BreslovTorah - Breslov shiurim of Rebbe Nachman brought to you in English by the greatest tzaddikim of the generation.</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->    
    <link href="{% static 'css/font.lora.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font.montserrat.css' %}" rel="stylesheet" type="text/css">
	
	<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
	
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/grayscale.js' %}"></script>
	
	{% block js %}
	
	{% endblock %}
	
	{% block css %}
	
	{% endblock %}
	
	<style>
		section#shiurs .list-group-item {
			text-align: left;
		}
	</style>
	
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <div class='navbar-behind'></div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="glyphicon glyphicon-align-justify"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/index.html#page-top">
                    <i class="glyphicon glyphicon-play-circle"></i>  <span class="light">Breslov</span>Torah<span class="light"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="/index.html#page-top"></a>
                    </li>
                    {% if request.user.is_authenticated and request.user.is_superuser %}
                    <li>
                        <a class="page-scroll" href="/admin">{% trans "Admin" %}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="page-scroll" href="/index.html#about">{% trans "About" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html#download">{% trans "Download" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/index.html#contact">{% trans "Contact" %}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	{% block content %}
	
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container" style='padding-left:0;'>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    	
                    	{% if daily_shiur %}
                    		<h1 class="brand-heading brand-daily-shiur" style='padding-left:15px;'>{{daily_shiur.title}}</h1>
                    		<iframe id="player_1" style="margin-left: 20px;" src="{{daily_shiur.video_url}}" frameborder="0" width="90%" height="300"></iframe>
                        	<div>
                        		<button class='btn'><i class='glyphicon glyphicon-chevron-left'></i></button>
              		            <button class='btn'><i class='glyphicon glyphicon-chevron-right'></i></button>
                        		
                        	</div>
                        	
                        {% else %}
                        	<h1 class="brand-heading">{% trans "Daily shiur" %}</h1>
                        	<p class="intro-text">{% trans "No daily shiur yet!" %}</p>
                        {% endif %}
                        
                        <br/><br/>
                        <a href="#shiurim" class="btn btn-circle page-scroll">
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

	<!-- About Section -->
    <section id="shiurim" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	
            	
            	<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Rav Tzvi Aryeh Rosenfeld ZT'L Shiurim</h3>
					</div>
					<div class="panel-body">
						
						<div class="list-group">
						
							{% for sefer in sefers_rosenfeld %}
								<a href="{% url 'sefer' sefer.slug %}" class="list-group-item">
									<span class="badge"><i class='glyphicon glyphicon-chevron-right'></i></span>
							  		{{sefer.title|safe}}
							  	</a>
							{% endfor %}
							
						</div>
						
					</div>
			    </div>
            	
            	
	            <div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Rav Nasan Maimon Shiurim</h3>
					</div>
					<div class="panel-body">
						
						<div class="list-group">
						
							{% for sefer in sefers_maimon %}
								<a href="{% url 'sefer' sefer.slug %}" class="list-group-item">
									<span class="badge"><i class='glyphicon glyphicon-chevron-right'></i></span>
							  		{{sefer.title|safe}}
							  	</a>
							{% endfor %}
							
						</div>
						
						<ul class="nav nav-pills nav-stacked" role="tablist">
							<li role="presentation" class="active"><a href="/sefer/videos-reb-nasan-maimon.html">Videos</a></li>
						</ul>
						
						
					</div>
			    </div>
            
                
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{% trans "About Breslov Torah" %}</h2>
                <p>
                	{% trans "The official Web site of Rav Nasan Maimon, www.breslovtorah.com, houses one of the largest searchable databases in the teachings of Rabbi Nachman of Breslov — in English, with perfect on-the-fly translation and elucidation of the Rabbi’s original Lashon Kodesh (Biblical and Rabbinic Hebrew) — on the Internet. Here you can access, instantly and by topic, thousands of video and audio Torah classes (see left sidebar) given by Rav Tzvi Aryeh Rosenfeld זצ”ל (of blessed, sagely memory) and his student, Rav Nasan Maimon, שליט”א (may he live a good long life – amen!)." %}
				</p>
				<p>
					{% trans "Enjoy — and remember, the main thing we all seek is connection to HaKadosh Baruḥ Hu, Borei haOlam — The Holy One, blessed be He, Creator of the World!" %}
                </p>
            </div>
        </div>
    </section>
    

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>{% trans "Download Additional Shiurs" %}</h2>
                    <p>{% trans "You can download all of Rebbe Nachman's teaching in audio format at our sister site" %} <a href='http://www.breslovtorah.com'>www.breslovtorah.com</a>.</p>
                    <a href="https://soundcloud.com/breslov-torah" class="btn btn-default btn-lg">{% trans "SoundCloud" %}</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>{% trans "Contact Breslov Torah" %}</h2>
                <p>{% trans "Feel free to email us" %}!</p>
                <p><a href="mailto:yaakov@breslovtorah.com">yaakov@breslovtorah.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/breslovtorah" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/breslover/breslovtorah" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/101903743297091959660/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
	
	{% endblock %}
	
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright BreslovTorah 2014</p>
        </div>
    </footer>

</body>

</html>